# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
datasets/
data/
*.csv
*.parquet
*.pcap
*.pcapng
*.zip
*.tar
*.gz

# Outputs
outputs/
results/
logs/

# Environment / secrets
.env
.env.*
*.pem
*.key

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db